<!-- STANDARD CLNDR MARKUP -->


<div class="row">
    <div class="col-md-7">
        <div class="clndr-controls">

            <div class="clndr-nav clndr-clearfix">
                <div class="clndr-previous-button">‹</div>
                <div class="current-month"><%= month %> <%= year %></div>
                <div class="clndr-next-button">›</div>
            </div>
        </div>
        <div class="clndr-grid">
            <div class="days-of-the-week clndr-clearfix">
                <% _.each(daysOfTheWeek, function(day) { %>
                <div class="header-day"><%= day %></div>
                <% }); %>
            </div>
            <div class="days clndr-clearfix">
                <% _.each(days, function(day) { %>
                <div class="<%= day.classes %>" id="<%= day.id %>"><span class="day-number"><%= day.day %></span></div>
                <% }); %>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="clndr-controls">

            <div class="clndr-nav clndr-clearfix">
                Próximas Fechas
            </div>
        </div>
        <div class="event-listing">
            <% _.each(eventsThisMonth, function(event) { %>
            <% if (event.url) {  %><a target="_blank" href="<%= event.url %>" <% } else {  %><div <% }  %> class="event-item clndr-clearfix">
            <span class="event-item-date">
				<p><%= moment(event.start).format("D") %><br><span class="event-item-date-month"><%= moment(event.start).format("MMMM") %></span></p>

                

			</span>
            <span class="event-item-name "><%= event.title %></span>
            <% if (event.url) {  %></a><% } else {  %></div><% }  %>
        <% }); %>
    </div>
    <div class="more-overlay"></div>
</div>
</div>