body {
  font-family: $base-font;
  font-size: 18px;
  color: $base;
}
.video-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; }
.video-container iframe, .video-container object, .video-container embed, .video-container video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

a {
  color: inherit;
}

h1, h2, h3, h4, h5 {
  color: $dark;
  font-family: $heading-font;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 21px;
}

h4 {

}

h5 {

}

.text-align-center {
  text-align: center;
}

.cat-title {
  position: absolute;
  font-family: $heading-font;
  font-weight: 700;
  font-size: 23px;
  padding: 10px;
  top: -26px;
  left: 45px;
  z-index: 1;
  color: #ffffff;
  min-width: 220px;
  text-align: center;

}

.compartido {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;

}

article {
  img {
    width: 100%;
  }

}

section {
  padding: 0 0 90px;
  border-top: 3px solid $gris;

  .container {
    padding-top: 80px;
  }
}

section.destacados {
  position: relative;
  border-top: none;

  .container {
    padding-top: 0;
    margin-top: 60px;
  }

  .cat-title {
    background-color: $morado;
  }

  article {
    position: relative;
    color: #ffffff;
    
    h2 {
      color: #fff;
    }
    a {
      display: block;
      color: #fff;
    }

    .post-info {
      position: absolute;
      bottom: 0;
      padding: 10px 20px;
    }

    &.articulo-lg {
      margin-right: 2px;


    }

    &.articulo-sm {

        max-height: 208px;
        overflow: hidden;

      &:first-of-type {
        margin-bottom: 2px;
      }
      .post-info {
        h2 {
          font-size: 22px;
        }
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 25%;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 1));
      opacity: .5;
    }

  }

}

.play {
  .cat-title {
    background-color: $amarillo;
  }

  h2 {
    font-weight:700;
  }
  a {
    display: block;
    width: 70%;
    float: left;
    text-align: center;
    border: 1px solid $dark;
    margin-top: 20px;
    font-weight: 600;
  }
}
.noticias {

  .cat-title {
    background-color: $rojo;
  }

  article {
    margin-bottom: 30px;
  }

  .noticia-img {
    position: relative;
    margin-bottom: 15px;

    &:before {
      content: '';
      position: absolute;
      top: 25%;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 1));
      opacity: .5;
    }

    .compartido {
      position: absolute;
      bottom: 0;
      left: 10px;
    }
  }

  .mas-noticias {
    display: block;
    width: 100%;
    padding: 3px;
    color: $dark;
    font-family: $heading-font;
    font-size: 22px;
    border: 3px solid $gris;

    .fa {
      font-size: 20px;
    }
  }
}

section.calendario {

  background-color: $gris-oscuro;
  padding-bottom: 100px;

  .cat-title {
    background-color: $amarillo;
  }
  .container {
    padding-top: 65px;
  }
}

.redes-sociales {
  background-color: $gris-claro;
  h3 {
    font-family: $heading-font;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  .cat-title {
    background-color: $morado;
  }
}

.info-categorias {

  h3 {
    font-family: $heading-font;
    font-weight: 700;
    font-size: 30px;
  }

  p {
    margin-top: 25px;
  }

  .media {
    margin-bottom: 40px;
    img {
      max-width: 70px;
      width: 100%;
    }
  }

  .first-col ul {
    box-shadow: 3px 0px 0px 0px $gris-oscuro;
    padding-right: 30px;

    .media-body {
      padding-top: 15px;
    }
  }
  .last-col {
    padding-left: 30px;
    h3 {
      padding-top: 16px;
    }

  }

}

// Call to action
.block-sabias-que {
  float: left;
  padding: 0 20px;
  margin-left: 25px;
  margin-top: 48px;
  text-align: center;
  position: relative;
  color: #fff;
  background-color: $amarillo;
  min-height: 285px;

  h5 {
    font-family: $heading-font;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    padding:35px 0 25px;
  }

  a {
    border: 2px solid #fff;
    //padding: 5px;
    width: 55%;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top:35px;
  }


  .check {
    background: transparent url('../images/check.png') 0 0 no-repeat;
    width: 55px;
    height: 55px;
    position: absolute;
    z-index: 1;
    background-size: cover;
    left: 50%;
    transform: translate(-50%, -50%);

  }


}

//Categorías

.categorias-lista {
  .item-categorias {
    padding: 2px;
    text-align: center;
  }
  a {
    padding: 5px 0;
    width: 100%;
    font-family: $heading-font;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    background-color: $rojo;
    display: inline-block;
    float: left;

  }

  &.categorias-lista-single {
    border-top: 2px solid $gris;
    margin: 35px 0;
    padding-top: 35px;
    a {
      background-color: $gris;
      color: $dark;

    }
  }
}

// Single
.single-post {
  article.post-body {

    padding-bottom: 35px;
    img {
      width: 100%;
      height: auto;
    }
  }
  h1 {
    margin: 20px 0 30px;
  }

  .post-fecha {
    font-size: 20px;
    font-weight:700;
    text-transform: uppercase;
    color: $gris-texto;
    p {
      padding-top: 40px;
    }
  }

  .attachment-post-thumbnail {
    margin: 40px 0;
  }

  .wp-caption-text {
    font-size: 70%;
    font-style: italic;
    margin: 10px 0;
  }

  .noticias {
    border-top: none;
  }

}

.post-sidebar {
  position: relative;
  height: 100%;

  .block-sabias-que {
    margin-left:0;
  }

  .post-aside-mas-noticias {
    position: relative;
    display: block;
    float: left;
    margin: 50px 0 0;
    padding: 50px 0;
    border-top: 2px solid $gris;

    .cat-title {
      background-color: $rojo;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      padding: 7px;
      //padding-left: 45px;
    }
  }

  .post-aside-categorias {
    float: left;
    padding-top: 20px;
    border-top: 2px solid $gris;
    border-bottom: 2px solid $gris;
    text-align: center;

    .cat-destacada {
      padding: 20px 0;
    }

    .cat-destacada-header {
      text-align: center;
      span {
        background-size: contain;
        display: inline-block;
        width: 55px;
        height: 55px;
      }
      h2 {
        display: inline-block;
        transform: translate(0, -37%);
      }
    }
    .cat-icono-mujeres {
      background-image: url('../images/cat-label-mujer.png');
    }

    .cat-icono-bolsillo {
      background-image: url('../images/cat-label-bolsillo.png');
    }

    .cat-icono-tags {
      background-image: url('../images/cat-label-tags.png');
    }

  }

  .post-aside-call-to-action {
    margin-top: 40px;
    float: left;
    display: block;

    .block-sabias-que {
      margin: 0;
    }
  }
}

.social-share {
  color: #fff;

  a {
    display: block;
    width: 49%;
    float: left;
    margin: 5px 0 5px;
    padding: 10px;
    font-weight: 700;

    i {
      text-align: center;
      min-width: 35px;
    }
  }
  .social-share-fb {
    background-color: #455996;
  }
  .social-share-tw {
    background-color: #73AEFF;
    float: right;
  }
  .social-share-wa {
    background-color: #74C858;
  }
  .social-share-mail {
    background-color: $rojo;
    float: right;
  }

}