// Grid settings
$enable-flex: true;
$main-sm-columns: 12;
$sidebar-sm-columns: 4;

// Colors
$base: #5D5D5D;
$dark: #333333;
$gris: #E2E2E2;
$gris-oscuro: #DDDDDD;
$gris-texto: #ADADAD;
$gris-claro: #F2F2F2;
$rojo: #F73E3E;
$amarillo: #F4AD2F;
$morado: #674193;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Montserrat');
$heading-font: 'Montserrat', sans-serif;
$base-font: 'Open Sans', sans-serif;

