header {
  width: 100%;
  min-height: 220px;
  background: url('../images/header-bg.jpg') center 35% no-repeat;
  background-size: cover;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #fff, #000);
    opacity: .6;
  }

  .logo-gob {
    padding-top: 45px;
  }

  .logo-main {
    padding-top: 35px;
  }
}

.navbar {
  background-color: $amarillo;
  color: #fff;
  font-family: $base-font;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  padding:15px;

  .navbar-nav {
    .nav-item {

      margin-right: 15px;

      .cat-ico {
        float: left;
        height: 26px;
        width: 40px;
        background-image: url('../images/cat-ico.png');

        &.icono-inicio {
          width: 38px;
          background-position: 0 -3px;
        }

        &.icono-categorias {
          width: 30px;
          margin-right: 5px;
          background-position: 30px 0;

        }

        &.icono-mujeres {
          width: 30px;
          background-position: 93px 0;
        }

        &.icono-bolsillo {
          width: 38px;
          background-position: 65px -2px;
        }
      }

      a {
        color: #fff;
      }

      a:hover, &.active {
        color: #000;

        .cat-ico {

          &.icono-inicio {

            background-position: 0 24px;
          }

          &.icono-categorias {

            background-position: 30px 27px;
          }

          &.icono-mujeres {

            background-position: 93px 27px;
          }

          &.icono-bolsillo {

            background-position: 65px 27px;
          }
        }
      }

    }
  }

  // .navbar-brand {
  //   img {
  //     max-width: 230px;
  //   }
  // }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");
  }

  // form {
  //   .form-control {
  //     border-top-left-radius: 25px;
  //     border-bottom-left-radius: 25px;
  //   }

  //   button {
  //     border-top-right-radius: 25px;
  //     border-bottom-right-radius: 25px;
  //   }
  // }
}
