
$white: white;

.clndr-holder {

  .clndr {
    .row {
      .col-md-7 {
        box-shadow: 2px 0px 0px 0px $white;
      }
    }
  }

  * {
    box-sizing: border-box;
  }

  .clndr-controls {
    margin: 0 auto;
    text-align: center;

    .clndr-nav {
      text-align: center;
      display: inline-block;
      font-family: $heading-font;
      font-weight: 700;
      font-size: 22px;
      text-transform: capitalize;

      .clndr-previous-button {
        display: inline-block;
        float: left;
        cursor: pointer;
      }

      .current-month {
        display: inline-block;
        float: left;
        margin: 0 30px;
      }

      .clndr-next-button {
        display: inline-block;
        float: left;
        cursor: pointer;
      }

    }

  }
  .clndr-grid {

    color: $morado;
    font-size: 22px;
    font-weight: 600;
    .days-of-the-week {
      padding: 10px;
      background: $amarillo;
      margin-bottom: 3px;
      .header-day {

        float: left;
        text-align: center;
        width: 14.2857%;
        font-weight: 800;
        text-transform: uppercase;
        padding: 7px;
      }
    }
    .days {
      padding: 0 10px;
      background-color: #fff;

      .day {

        float: left;
        text-align: center;
        width: 14.2857%;
        padding: 7px 17px;
        box-shadow: 0px 2px 0px 0px $gris-claro;

        &:nth-last-child(-n+7) {
          box-shadow: none;
        }

        .day-number {

          margin: 0;
          padding: 10px;
          display: block;

        }
        &.alternate-bg {

        }
        &.adjacent-month {
          opacity: 0.3;
        }
        &.event .day-number {
          border-radius: 50%;
          text-decoration: underline;
          background-color: $amarillo;
        }
      }
      .empty {
        float: left;
        text-align: center;
        width: 14.2857%;

        &.adjacent-month {
          opacity: 0.3;
        }
        &.event .day-number {

        }
      }
      .today {

        background-color: $gris;
      }
    }
  }

  .event-listing {
    // float: left;
    background-color: $white;
    color: $morado;
    //padding: 30px;
    // padding-left: 10px;
    overflow-y: scroll;
    max-height: 400px;

    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, .5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }

    a {
      color: $morado;
      cursor: pointer;
    }
    .event-listing-title {


      font-family: $heading-font;
      text-transform: uppercase;

      text-align: center;
    }

    .event-item-not-found {
      color: $morado;
      width: 100%;
    }
    .event-item {
      display: flex;
      // background-color: #fff;
      width: 100%;
      margin-bottom: 4px;
      border-bottom: 1px solid $gris;


      //padding: 7px 0;

      .event-item-date {
        flex: 1;
        font-size: 36px;
        font-family: $base-font;
        margin: 5px 5px 5px 25px;
        // background-color: $morado;
        min-width: 30px;
        // padding: 5px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        text-transform: uppercase;
        font-weight: bold;
        
        p {
          border-right: 1px solid $morado;
          line-height: 70%;
          margin: 10px;
          padding-right: 10px;
        }

       
        .event-item-date-month {
          font-size: 17px;
        }

      }
      .event-item-name {
        color: $morado;
        flex: 5;
        padding: 5px;
        font-size:16px;
        display: flex;
        align-items: center;
        margin-left: 15px;


      }
      .event-item-time {

      }
      .event-item-desc {

      }
    }
  }

  //.more-overlay {
  //  position: absolute;
  //  bottom: 0;
  //  height: 50px;
  //  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
  //  z-index: 1;
  //  width: 100%;
  //  text-align: center;
  //  padding-top: 15px;
  //  &:before {
  //    font-family: FontAwesome;
  //    content:  "\f078";
  //    color: #fff;
  //    padding-top: 10px;
  //  }
  //}
}

@media screen and(max-width: 600px) {
  .clndr-holder.clndr_full-size-calendar {

    .event-listing {
      float: none;
      width: 100%;
      border: 0;
      margin-top: 1em;

    }
    .clndr-grid {
      float: none;
      width: 100%;
      border: 0;
      .days .day .day-number {
        margin: 0.1em auto;
      }
    }
    .event-listing-title {
      display: none;
    }
  }
}

.clndr-clearfix::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}